### **INTRODUCTION TO PYTHON**
* To check the version of the python

**Part 1: Pandas Library**
*   1.1 How to import Pandas as a library
*   1.2 How to read CSV file
*   1.3 How to see the first 5 rows
*   1.4 How to see the (number) of rows - at the beginning of the dataset
*   1.5 How to see the last 5 rows
*   1.6 How to see the (number) of rows - at the last of the dataset
*   1.7 To see the total number of rows and columns


**Part 2: Data Types**
* 2.1 Python Data Types
  * Integer
  * String
  * Float

* 2.2 Examples
* 2.3 Complex


**Part 3: Expression, Variables and Conditions**


* 3.1 Expressions
* 3.2 Variables
* 3.3 Conditions

To check the version of the python

---

* When we have error

In [ ]:
!python --version

Python 3.10.12

**Part 1: Pandas Library**

1.1 How to import Pandas as a library

---


* Usually, when we use or we import third party library , we need to give them a nickname to avoid typo
* For example: pandas as pd

In [ ]:
import pandas as pd

1.2 How to read CSV file

---

* df refer to data frame
* sometimes it can use other name such as mydata, data as long as we define it

In [ ]:
df = pd.read_csv('NFLX.csv')

1.3 How to see the first 5 rows

---


* features = columns
* values / cases = rows

In [ ]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-12-16,119.800003,123.000000,118.089996,122.639999,122.639999,13181000
1,2015-12-17,123.970001,126.349998,122.419998,122.510002,122.510002,17284900
2,2015-12-18,120.849998,122.190002,117.919998,118.019997,118.019997,17948100
3,2015-12-21,119.510002,119.589996,115.660004,116.629997,116.629997,11670000
4,2015-12-22,117.300003,117.430000,114.860001,116.239998,116.239998,9689000

1.4 How to see the (number) of rows - at the beginning of the dataset

---


* If you use df.head(x) - it will show you how many row you want to see at the beginning of the dataset.
* For example below, df.head(10) - mean that it will show you the 10 first rows of the dataset.

In [ ]:
df .head(10)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2015-12-16,119.800003,123.000000,118.089996,122.639999,122.639999,13181000
1,2015-12-17,123.970001,126.349998,122.419998,122.510002,122.510002,17284900
2,2015-12-18,120.849998,122.190002,117.919998,118.019997,118.019997,17948100
3,2015-12-21,119.510002,119.589996,115.660004,116.629997,116.629997,11670000
4,2015-12-22,117.300003,117.430000,114.860001,116.239998,116.239998,9689000
5,2015-12-23,116.910004,118.559998,115.779999,118.160004,118.160004,9324300
6,2015-12-24,118.220001,118.800003,117.300003,117.330002,117.330002,3531300
7,2015-12-28,117.260002,117.349998,113.849998,117.110001,117.110001,8424300
8,2015-12-29,118.190002,119.599998,116.919998,119.120003,119.120003,8159200
9,2015-12-30,118.949997,119.019997,116.430000,116.709999,116.709999,8149700

1.5 How to see the last 5 rows

---


* It will show you the last 5 rows of the dataset

In [ ]:
df .tail()

,Date,Open,High,Low,Close,Adj Close,Volume
1002,2019-12-10,296.119995,298.940002,292.019989,293.119995,293.119995,10476100
1003,2019-12-11,294.489990,299.429993,294.200012,298.929993,298.929993,5589800
1004,2019-12-12,295.670013,299.170013,295.059998,298.440002,298.440002,4766600
1005,2019-12-13,298.500000,301.799988,297.250000,298.500000,298.500000,3879700
1006,2019-12-16,300.850006,305.709991,298.630005,304.209991,304.209991,4658900

1.6 How to see the (number) of rows - at the last of the dataset

---


* If you use df.tail(x) - it will show you how many row you want to see at the end of the dataset.
* For example below, df.tail(10) - mean that it will show you the 10 last rows of the dataset.

In [ ]:
df .tail(10)

,Date,Open,High,Low,Close,Adj Close,Volume
997,2019-12-03,302.220001,307.359985,301.880005,306.160004,306.160004,4992800
998,2019-12-04,308.429993,308.429993,303.269989,304.320007,304.320007,3512100
999,2019-12-05,305.269989,306.480011,298.809998,302.859985,302.859985,4615500
1000,2019-12-06,304.700012,307.850006,302.600006,307.350006,307.350006,4457800
1001,2019-12-09,307.350006,311.489990,302.440002,302.500000,302.500000,5748400
1002,2019-12-10,296.119995,298.940002,292.019989,293.119995,293.119995,10476100
1003,2019-12-11,294.489990,299.429993,294.200012,298.929993,298.929993,5589800
1004,2019-12-12,295.670013,299.170013,295.059998,298.440002,298.440002,4766600
1005,2019-12-13,298.500000,301.799988,297.250000,298.500000,298.500000,3879700
1006,2019-12-16,300.850006,305.709991,298.630005,304.209991,304.209991,4658900

1.7 To see the total number of rows and columns

---


* It will give you the total number of rows and the total number of columns of the dataset
* As shown below (Total number of rows, Total number of columns)

In [ ]:
df .shape

(1007, 7)

**Part 2: Data Types**

2.1 Python Data Types

---



* Integer
An integer is a whole number that can be positive, negative, or zero. It does not include any fractional or decimal parts
   * Examples of Integer:
      1. Positive integers: 1, 2, 3, 4, 5, ...
      2. Negative integers: -1, -2, -3, -4, -5, ...
      3. Zero: 0

* String
A string is a sequence of characters. In computer programming, it's a fundamental data type used to represent text.

  * Examples of Strings:
     1. "Hello, world!"
     2. "This is a string."
     3. "12345" (even though it contains numbers, it's still considered a string because it represents text)

* Float
Floats: Numbers with Decimal Points
A float (floating-point number) is a number that contains a decimal point. It's used to represent real numbers, which include both whole numbers and fractional parts.

  * Examples of Floats:
     1. 3.14159 (pi)
     2. -2.5
     3. 0.001

2.2 Examples of Data Types & How to check the type of the features

---

In [ ]:
'Data Science'
8.8
2024

2024

* It mean that the Data Science is a string feature

In [ ]:
type('Data Science')

str

* It mean that the 8.8 is a float feature since it has a decimal point

In [ ]:
type(8.8)

float

* It mean that the 2024 is an Integer because it is a whole number

In [ ]:
type(2024)

int

2.3 Complex

---

In [ ]:
a=10
b=20
c=a*b
print(c)

200

In [ ]:
c=a+b
print(c)

30

In [ ]:
b = 2
A = 3+5*b
print(A)

13

2.4 Boolean Data Types


---

A Boolean data type is a fundamental data type that can hold only two possible values: **True** or **False**.

It's named after George Boole, a mathematician who pioneered the study of logic.

In [ ]:
type(True)

bool

In [ ]:
type(False)

bool

**ALERT!**

* The T in true, and F in false must be in CAPITAL letter.
* if we use small letter it will become an error

In [ ]:
type(true)

NameError: name 'true' is not defined

* Look at what kind of error we have - to know what error do we have and how to fix it

**Part 3: Expressions, Variables, Conditions**

3.1 Expression

---

* An expression is a combination of values, variables, operators, and function
calls that produce a result.
* It's a fundamental component of programming languages.

* Types of Expressions:
   1. Arithmetic Expressions:

      Involve mathematical operations like addition, subtraction, multiplication, division, and modulus.
      Examples: 2 + 3, x * y, 5 / 2

   2. Relational Expressions:

      Compare values using operators like equal to (==), not equal to (!=), greater than (>), less than (<), greater than or equal to (>=), and less than or equal to (<=).
      Result is always a Boolean value (true or false).
      Examples: x == y, a > b, c <= d

   3. Logical Expressions:

      Combine Boolean values using logical operators like AND (&&), OR (||), and NOT (!).
      Result is also a Boolean value.
      Examples: x > 0 && y < 10, a == b || c != d, !flag

  4. String Expressions:

     Combine strings using concatenation (+) or other string operations.
     Examples: "Hello" + " world", name + " is " + age

  5. Function Calls:

     Represent the execution of a function with specific arguments.
     Examples: math.sqrt(25), print("Hello")

* Examples of Expressions:

<ul>
    <li>equal: <b>==</b></li>
    <li>not equal: <b>!=</b></li>
    <li>greater than: <b>></b></li>
    <li>less than: <b>&lt;</b></li>
    <li>greater than or equal to: <b>>=</b></li>
    <li>less than or equal to: <b>&lt;=</b></li>
</ul>

Examples :

<ul>
    <li>subtraction: <b>-</b></li>
    <li>addition: <b>+</b></li>
    <li>division: <b>/</b></li>
    <li>floor division <b>//</b></li>
    <li>multiplication: <b>*</b></li>
    <li>modulus: <b>%</b></li>
    <li>exponent: <b></b></li>
</ul>

Modulus:

---



* Modulus is an arithmetic operation that finds the remainder of a division. It's often represented by the symbol %.

* How it works:
  * Dividend: The number being divided.
  * Divisor: The number by which the dividend is divided.
  * Modulus: The remainder of the division - the reminder can be even or odd number

* b1 = 10%3 - mean that 10 is divided by 3
* b2 = 10%2 - mean that 10 is divided by 2 - so the reminder is 0, therefore it is an even number

* If or any number divided by 2 and the reminder is = 0, it mean even number

In [ ]:
b1 = 10%3
b2 = 10%2
b3 = 11%2
b4 = 11%3

print(b1)
print(b2)
print(b3)
print(b4)

1
0
1
2

Exponents

In [ ]:
2**3 #same way as 2^3

8

In [ ]:
8**4

4096

3.2 Variables

---


* A variable is a named storage location for data. It acts as a container that holds a value, which can be changed during program execution.

* Key points about variables:

  1. Declaration: You typically declare a variable by specifying its data type (e.g., integer, float, string).
  2. Assignment: You assign a value to a variable using the assignment operator (usually =).
  3. Usage: You can use the variable's name to access and manipulate its value.

In [ ]:
machine_learning = 'Data Science'

In [ ]:
machine_learning

'Data Science'

* This is when you define a variables

**%whos **

---


* It provides a convenient way to inspect the variables currently defined in your workspace.

* What it shows:
  - Variable names
  - Types of variables
  - Sizes of variables (for NumPy arrays)
  - Memory usage of variables

In [ ]:
%whos

Variable           Type    Data/Info
------------------------------------
abc                int     2025
b1                 int     1
b2                 int     0
b3                 int     1
b4                 int     2
machine_learning   str     Data Science

In [ ]:
abc = 2025

**Things to AVOID in Python:**

* Python always remember the last
* Avoid using the same name with the built in function
* Avoid to use the same variables many time in Python
* Avoid name the variables with space as it will result with invalid syntax
  As alternative, use underscore.
  For example, Machine_Learning
* Avoid create the same variables again
  To check what are the variables that we have use, use %whos

3.3 Conditions

---


* Conditions allow you to control the flow of your program based on whether certain criteria are met.

* They are often used with decision-making structures like **if**, **else if**, and **else**.

* Conditional statements:

   * if: Executes a block of code if a condition is true.
   * else: Executes a block of code if the condition is false.
   * else if: Checks additional conditions if the previous ones were false.