# **Indexing and Data Structure**

---


* Part 4:
  * 4. 1 Indexing
    * String Indexing
    * Slicing
    * Concatenating


* Part 5: Data Structure
  * 5.1 List
  * 5.2 Extend Function
  * 5.3 Append Function
  * 5.4 Deleting Items
  * 5.5 Count Funtion
  * 5.6 Remove Function
  * 5.7 Insert Function
  * 5.8 Reverse Function


* Part 6: Tuple
  * 6.1 Comparison Between List And Tuple
  * 6.2 Sort Function In Tuple
  * 6.3 Convert Tuple Into A List


* Part 7: Set
  * 7.1 Defining A Set
  * 7.2 Set Removes Duplicates
  * 7.3 Uppercase and lowercase in Set
  * 7.4 Add Function in A Set
  * 7.5 Remove Function in A Set
  * 7.6 Intersection in A Set
  * 7.7 Union Function in A Set
  * 7.8 Converting A Set Into A list
  * 7.9 Difference Function in A Set


* Part 8: Dictionary
  * 8.1 Defining The Dictionary
  * 8.2 Finding Value of The Key
  * 8.3 Finding The Key Name
  * 8.4 Updating Value of A Key
  * 8.5 Delete Function In Dictionary
  * 8.6 Key is Unique


* Part 9: Statement
  * 9.1 if statement, elif statement, else
  * 9.2 Loop
  * 9.3 While Loop

**String Indexing**

---

* Indexing in Python refers to the process of accessing specific elements within a sequence, such as a string, list, or tuple, using their positions or indices.

singer = 'Michael Jackson'
singer

In [ ]:
type(singer)

str

In [ ]:
print(singer)
print(singer[2])
print(singer[5])
print(singer[10])
print(singer[13])

Michael Jackson
c
e
c
o

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsIndex.png" width="600" align="center" />

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsNeg.png" width="600" align="center" />

In [ ]:
print(singer[-13])
print(singer[-10])
print(singer[-2])

c
e
o

In [ ]:
anystring = singer

In [ ]:
# print the last, second last, and the first and the second of any string

#first
print(anystring[0])
#second
print(anystring[1])
#last
print(anystring[-1])
#second last
print(anystring[-2])

M
i
n
o

**Slicing**

---

**Index Slicing**

print(anystring[index to start from : index to stop at])

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsIndex.png" width="600" align="center" />

In [ ]:
print (singer[0:6])

Michae

In [ ]:
print (singer[0:7])

Michael

**printing Jackson**

In [ ]:
print(singer[8:])

Jackson

In [ ]:
print(singer[7:])

 Jackson

In [ ]:
print(singer[-7:])

Jackson

In [ ]:
print(singer[-7:15])

Jackson

In [ ]:
print(singer[-7:14])

Jackso

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsIndex.png" width="600" align="center" />

In [ ]:
print (singer[:7:2])

Mcal

In [ ]:
print (singer[:7:3])

Mhl

In [ ]:
print(singer[7:15:3])

 co

In [ ]:
print(singer[8:15:3])

Jkn

**Concatenating**

---

**Concatenating Strings**

In [ ]:
str1 = 'Big'
str2 = 'Data'

str3 = str1 + str2
str3

'BigData'

In [ ]:
str4 = str2 + str1
str4

'DataBig'

In [ ]:
str3 = str1 + ' ' + str2
str3

'Big Data'

In [ ]:
str1 = 'Big'
str2 = ' Data'

str3 = str1 + str2
str3

'Big Data'

In [ ]:
str5 = str1 + 2024
str5

TypeError: can only concatenate str (not "int") to str

**Error!**

* As you can see, there an error when we want to concatenate string and integer, because it not the same data types

In [ ]:
str5 = str1 + '2024'
str5

'Big2024'

In [ ]:
str5 = str1 + ' 2024'
str5

'Big 2024'

In [ ]:
str6 = '2024'
str6

'2024'

In [ ]:
type(str6)

str

In [ ]:
str7 = int('2024')
str7

2024

In [ ]:
str9 = str(2.2)
str9

'2.2'

In [ ]:
str8 = str1 + str9
str8

'Big2.2'

In [ ]:
test1 = int(str(999))
test1

999

In [ ]:
type(test1)

int

In [ ]:
test2 = str(int(float(999)))
type(test2)

str

# **Data Structure**

---

**Python Data Structure**

* List []
* Tuple ()
* Set {}
* Dictionary {}

**List**

---

In [ ]:
l1 = [8.8,'Data Science', 2024, 99, -20]

t1 = (8.8,'Data Science', 2024, 99, -20)

s1 = {8.8,'Data Science', 2024, 99, -20}

print(l1)
print(t1)
print(s1)

[8.8, 'Data Science', 2024, 99, -20]
(8.8, 'Data Science', 2024, 99, -20)
{99, 8.8, 2024, -20, 'Data Science'}

In [ ]:
type(l1)

list

In [ ]:
type(t1)

tuple

In [ ]:
type(s1)

set

**List**

In [ ]:
#index

print(l1[2])
print(l1[2:])

2024
[2024, 99, -20]

In [ ]:
#extend

l1.extend([55, 'AI'])
l1

[8.8, 'Data Science', 2024, 99, -20, 55, 'AI']

In [ ]:
#append
l1.append(['ML',999])

In [ ]:
l1

[8.8, 'Data Science', 2024, 99, -20, 55, 'AI', ['ML', 999]]

In [ ]:
#nested list

print(l1[-1])

['ML', 999]

In [ ]:
print(l1[-1][-1])

999

In [ ]:
print(l1[-1][-2])

ML

In [ ]:
l2 = [8.8, 'Data Science', 2024, 99, -20, 55, 'Ai', ['ML', 999, ['A','B','C']]]
#print the latter B and C

print (l2[-1][-1][-2:])

['B', 'C']

In [ ]:
#del
del(l1[1])
l1

[8.8, 2024, 99, -20, 55, 'AI', ['ML', 999]]

In [ ]:
#find the index of an item in a list

l1.index('AI')

5

In [ ]:
#counting the freq of an item in a list

l3 = [20, 200, 99, 20, 'AI',20, 'AI', 20]

#count

l3.count(20)

4

In [ ]:
l3.count('AI')

2

In [ ]:
#remove

l3.remove('AI')
l3

[20, 200, 99, 20, 20, 'AI', 20]

In [ ]:
#insert

#list.insert(index,item)

l3.insert(4,'AI')
l3

[20, 200, 99, 20, 'AI', 20, 'AI', 20]

In [ ]:
#reverse

l3.reverse()
l3

[20, 'AI', 20, 'AI', 20, 99, 200, 20]

In [ ]:
#sort

l3.sort()
l3

TypeError: '<' not supported between instances of 'str' and 'int'

**Error!**

* Because the list consist of string and integer so it cannor sort out

In [ ]:
l3.remove('AI')
l3

[20, 20, 20, 99, 200, 20]

In [ ]:
l3.sort()
l3

[20, 20, 20, 20, 99, 200]

In [ ]:
l3.reverse()
l3

[200, 99, 20, 20, 20, 20]

In [ ]:
#length

len(l3)

6

In [ ]:
l4 = [20, 0, -5, 13, -1, 7, 4, -3, 17, 9]

#sort l4 in ascending and descending order
#print the highest value and the lowest value

In [ ]:
l4.sort()
l4

[-5, -3, -1, 0, 4, 7, 9, 13, 17, 20]

In [ ]:
l4.reverse()
l4

[20, 17, 13, 9, 7, 4, 0, -1, -3, -5]

In [ ]:
print(l4[0])

20

In [ ]:
print(l4[-1])

-5

In [ ]:
max(l4)

20

In [ ]:
min(l4)

-5

In [ ]:
print ('The highest value is ', l4[0])
print ('The lowest value is ', l4[-1])

The highest value is  20
The lowest value is  -5

**Tuple**

---

**Tuple**

Here’s a comparison of lists and tuples in Python:

### List
- *Mutable*: You can change the elements (add, remove, or modify) after the list is created.
- *Syntax*: Defined using square brackets [].
  python
  my_list = [1, 2, 3]
  
- *Performance*: Slightly slower due to the flexibility of mutability.
- *Use Case*: Best when you need a collection of items that may change over time.

### Tuple
- *Immutable*: Once created, you cannot change the elements (no adding, removing, or modifying).
- *Syntax*: Defined using parentheses ().
  python
  my_tuple = (1, 2, 3)
  
- *Performance*: Faster than lists due to immutability.
- *Use Case*: Best when you need a collection of items that should not change, ensuring data integrity.

### Key Differences
1. *Mutability*:
   - Lists: Mutable
   - Tuples: Immutable

2. *Syntax*:
   - Lists: []
   - Tuples: ()

3. *Performance*:
   - Lists: Slower due to overhead of mutable operations.
   - Tuples: Faster due to immutability.

4. *Use Cases*:
   - Lists: Collections of items that need to be changed or updated.
   - Tuples: Fixed collections of items that should not change after creation.

### Example
#### List
python
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)  # Output: [1, 2, 3, 4]


#### Tuple
python
my_tuple = (1, 2, 3)
# my_tuple.append(4)  # This will raise an AttributeError
print(my_tuple)  # Output: (1, 2, 3)


### Summary
- Use *lists* when you need a dynamic collection that may change over time.
- Use *tuples* when you need a fixed collection of items that should remain constant.

In [ ]:
t1

(8.8, 'Data Science', 2024, 99, -20)

In [ ]:
print(t1[2])

2024

In [ ]:
#nested tuple

t2 = (8.8, 'Data Science', (2024, 99), -20,)
print(t2[-2][-1])

99

In [ ]:
t3 = ('AI', 'Python')
tnew = t2 + t3
tnew

(8.8, 'Data Science', (2024, 99), -20, 'AI', 'Python')

In [ ]:
t4 = (5, 88, -20, 99, 30, 8.8, 0, 5)

#sorted
sort_t4 = sorted(t4)

print (sort_t4)

[-20, 0, 5, 5, 8.8, 30, 88, 99]

In [ ]:
list_t4 = list(t4)
list_t4

[5, 88, -20, 99, 30, 8.8, 0, 5]

In [ ]:
tuple_list_t4 = tuple(list_t4)
tuple_list_t4

(5, 88, -20, 99, 30, 8.8, 0, 5)

In [ ]:
t5 = ('AI','Data', 2024, 'ML')
list_new_items = [888, 'Python', 'DL']

#create a new tuple of the above tuple and list

In [ ]:
list_t5 = list(t5)
list_t5

['AI', 'Data', 2024, 'ML']

In [ ]:
list_t5.extend(list_new_items)
list_t5

['AI', 'Data', 2024, 'ML', 888, 'Python', 'DL']

In [ ]:
l6 = list_new_items + list_t5
l6

[888, 'Python', 'DL', 'AI', 'Data', 2024, 'ML']

In [ ]:
tuple_list_t6 = tuple(l6)
tuple_list_t6

(888, 'Python', 'DL', 'AI', 'Data', 2024, 'ML')

In [ ]:
t4 = (5, 88, -20, 99, 30, 8.8, 0, 5)

list_t4 = list(t4)
list_t4

[5, 88, -20, 99, 30, 8.8, 0, 5]

In [ ]:
list_t4.sort()
print(list_t4)

[-20, 0, 5, 5, 8.8, 30, 88, 99]

In [ ]:
tuple_list_t4 = tuple(list_t4)
tuple_list_t4

(-20, 0, 5, 5, 8.8, 30, 88, 99)

**Set**

---

In [ ]:
s1 = {8.8, 'Data Science', 99, 2.2, 'Python'}
type(s1)

set

In [ ]:
print(s1)

{'Python', 99, 2.2, 8.8, 'Data Science'}

In [ ]:
s2 = {20, -10, 0, 5, 99, -10, 20, 2.2, 88}
print (s2)

{0, 2.2, 99, 20, 5, -10, 88}

In [ ]:
s2

{-10, 0, 2.2, 5, 20, 88, 99}

In [ ]:
#remove
s2.remove(88)
s2

{-10, 0, 2.2, 5, 20, 99}

In [ ]:
s3 = {'data', 'AI', 'ML', 'Python', 'big'}
s3

{'AI', 'ML', 'Python', 'big', 'data'}

In [ ]:
print(s3)

{'ML', 'Python', 'big', 'data', 'AI'}

In [ ]:
s4 = {'data', 'aI', 'ml', 'python', 'big'}
s4

{'aI', 'big', 'data', 'ml', 'python'}

In [ ]:
#add
s4.add('deep learning')
s

{'aI', 'big', 'data', 'deep learning', 'ml', 'python'}

In [ ]:
#intersection

set_a = {1,3,5,7,8,9,10,11,12,13,14} #actualresult
set_b = {1,2,3,4,5,6,7,8,9,10,11} #predictedresult; should be the same as set a

set_a.intersection(set_b)

{1, 3, 5, 7, 8, 9, 10, 11}

In [ ]:
#union

set_a.union(set_b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [ ]:
list_a = [1,2,3,4,1,2,5]

set_list_a = set(list_a)
set_list_a

{1, 2, 3, 4, 5}

In [ ]:
#write a code to find the highest value in a list of numbers by using sets only

list_b = [100, -99, 101, 88, 55.6, 0]
set_list_b = set(list_b)
set_list_b

{-99, 0, 55.6, 88, 100, 101}

In [ ]:
print(max(set_list_b))

101

In [ ]:
#difference

set_a.difference(set_b)

{12, 13, 14}

In [ ]:
set_b.difference(set_a)

{2, 4, 6}

**Dictionary**

---



*   Each item has a key and a value
*   Key : value
*   Dictionary: {key1:value1:, key2:value2, ... keyn:valuen}

In [ ]:
d1 = {'AI':99, 8.8:['ML', 'DL'], (1,2,3):['Big Data']}
d1

{'AI': 99, 8.8: ['ML', 'DL'], (1, 2, 3): ['Big Data']}

In [ ]:
type(d1)

dict

In [ ]:
d1['AI']

99

In [ ]:
d1.keys()

dict_keys(['AI', 8.8, (1, 2, 3)])

In [ ]:
d1.values()

dict_values([99, ['ML', 'DL'], ['Big Data']])

In [ ]:
d1

{'AI': 99, 8.8: ['ML', 'DL'], (1, 2, 3): ['Big Data']}

In [ ]:
d1['AI'] = -10
d1

{'AI': -10, 8.8: ['ML', 'DL'], (1, 2, 3): ['Big Data']}

In [ ]:
d1.pop((1,2,3))
d1

{'AI': -10, 8.8: ['ML', 'DL']}

In [ ]:
d2 = {[1,2]:99, (100,200):['abid']}
d2

TypeError: unhashable type: 'list'

**Error!**

* This typically happens when you try to use a list as a dictionary key. Dictionary keys in Python must be hashable, meaning they need to have a constant hash value throughout their lifetime. Lists, being mutable (changeable), don't meet this requirement.

* a list [1, 2] as a key in your dictionary d2. As mentioned earlier, lists are mutable and therefore unhashable, which means they cannot be used as dictionary keys


* By changing the square brackets [] to parentheses (), you create a tuple instead of a list. Tuples are immutable and hashable, making them perfectly valid as dictionary keys.

In [ ]:
d3 = {(1,2):99, (100,200):['abid']}
d3

{(1, 2): 99, (100, 200): ['abid']}

**Statement**

---

**if statement, elif statement, else**

In [ ]:
country = 'Malaysia'

if country == 'Malaysia':#True
  print('Country is Malaysia')

Country is Malaysia

In [ ]:
country = 'Malaysia'

if country == 'Singapore':#False
  print('Country is Singapore')

In [ ]:
country = 'Malaysia'

if country == 'Singapore':#False
  print('Country is Singapore')

else:
    print('Country is Malaysia')

Country is Malaysia

In [ ]:
country = 'Malaysia'

if country == 'Singapore':#False
  print('Country is Singapore')

elif country == 'Thailand':#False
  print('Country is Thailand')

else:
    print('Country is Malaysia')

Country is Malaysia

In [ ]:
country = 'Malaysia'

if country == 'Singapore':#False
  print('Country is Singapore')

elif country == 'Thailand':#False
  print('Country is Thailand')

elif country != 'Singapore':
  print('Country is unknown')

else:
    print('Country is Malaysia')

Country is unknown

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%203/Images/CondsTable.png" width="650" />

In [ ]:
country = 'Malaysia'
year = 2024

if country == 'Malaysia' and year == 2020:#false
  print('Country is Malaysia and year is 2020')

In [ ]:
country = 'Malaysia'
year = 2024

if country == 'Malaysia' or year == 2020:#false
  print('Country is Malaysia and year is 2020')

Country is Malaysia and year is 2020

In [ ]:
country = 'Malaysia'
year = 2024

if country == 'Malaysia' and year == 2020:#False
  print('Country is Malaysia and year is 2020')

elif country == 'Malaysia' and year > 2020:#True
  print('Country is Malaysia and year is earlier than 2020')

Country is Malaysia and year is earlier than 2020

In [ ]:
#write a code for finding the even and odd numbers

even = [1,2,3,5,6,7,9]
odd = [1,3,5,7,9]

if even == [1,2,3,5,6,7,9] and odd == [1,3,5,7,9]:
  print('even and odd are equal')

even and odd are equal

In [ ]:
#write a code for finding the even and odd numbers

n1 = 10%2
n2 = 5%3

if n1 == 0:
  print('n1 is even')
else:
  print('n1 is odd')

if n2 == 0:
  print('n2 is even')
else:
  print('n2 is odd')

n1 is even
n2 is odd

In [ ]:
num = 11
if num%2 == 0:
  print('num is even')

else:
  print('num is odd')

num is odd

In [ ]:
input_num = input('Enter a number')

input_num = int(input_num)

if input_num%2 == 0:
  print('The number is even')

else:
  print('The number is odd')

Enter a number6
The number is even

In [ ]:
#nested if,elif, else

price = 1000
car = 'Proton'

if price > 500:#True
  if price == 700:#False
    print('The price is more than 700')

  else:
    if price == 100 or car == 'Proton':
      print('Car is Proton')

    else:
      print('Price and Car are unknown')

Car is Proton

In [ ]:
#nested if,elif, else

price = 1000
car = 'Proton'

if price > 500:
  if price == 700:
    print('The price is more than 700')

  else:
    if price == 100 or car == 'Proton':
      print('Car is Proton')

    else:
      print('Price and Car are unknown')

Car is Proton

In [ ]:
price = 200
house = 'bungalow'

if price > 500:#false
  if price == 200:#true
    print('Price is 200')

  else:
    if house != 'bungalow':
      if house == 'bungalow':
         print('House is bungalow')

      elif house != 'villa':
         print('House is villa')

    else:
      print('House is unknown')

**Loops and while loops**

In [ ]:
list_num = [100, 200, 300, 400, 500]

print (list_num[0])
print (list_num[1])
print (list_num[2])
print (list_num[3])
print (list_num[4])

100
200
300
400
500

**For loop**

In [ ]:
list_num

[100, 200, 300, 400, 500]

In [ ]:
for i in list_num:#100 #200
  print(i)

100
200
300
400
500

In [ ]:
for num in range(1,10):
  print (num)

1
2
3
4
5
6
7
8
9

In [ ]:
numbers = [1,2,3,4,5,6]

#write a code to print numbers below 5

for num in numbers:
  if num < 5:
    print(num)

1
2
3
4

In [ ]:
for num in numbers:
  if num > 5:
    print(num)

6

In [ ]:
numbers = (1,2,3,4,5,6)

for num in numbers:
  if num < 5:
    print(num)

1
2
3
4

In [ ]:
numbers = {1:'a',2:'b',3:'c',4:'d',5:'e',6:'f'}

for num in numbers:
  if num < 5:
    print(num)

1
2
3
4

In [ ]:
numbers1 = [-1,2,1,3,5,4,0]

for num in numbers1:
  if num < 5:
    print(num)

-1
2
1
3
4
0

In [ ]:
d1

{'AI': -10, 8.8: ['ML', 'DL']}

In [ ]:
for num in d1.values():
    print(num)

-10
['ML', 'DL']

In [ ]:
for num in d1.items():
  print(num)

('AI', -10)
(8.8, ['ML', 'DL'])

In [ ]:
for num in d1.keys():
  print(num)

AI
8.8

**While Loop**

In [ ]:
numbers = (1,2,3,4,5,6)

#write a code to print all numbers below 5 by using while loop

i = 0 #1
num = None #checking the condition #1 #2

while(num!=5):#True
  num = numbers [i]
  i = i + 1
  print(num)

1
2
3
4
5

In [ ]:
numbers = (1,2,3,4,5,6)

#write a code to print all numbers below 4 by using while loop

i = 0 #1 #2 #3
num = None #1 #2 #3

while(num!=3):#True #True #True #False
  num = numbers [i]
  i = i + 1
  print(num)

1
2
3

In [ ]:
#nested loops

names = ['Mohammed', 'Noor', 'Chyrel']

for a in names:
  print(a)

  for b in (a):
    print(b)

  print ('')

Mohammed
M
o
h
a
m
m
e
d

Noor
N
o
o
r

Chyrel
C
h
y
r
e
l

In [ ]:
#write a code to print only the even numbers in range of numbers 20

for i in range(21):
  if i%2 == 0:
    print(i)

0
2
4
6
8
10
12
14
16
18
20

In [ ]:
#create a list of those even numbers

for i in range(21):
  if i%2 == 0:
    print(i)

0
2
4
6
8
10
12
14
16
18
20

In [ ]:
even_numbers = []
for i in range(21):
  if i%2 == 0:
    print(i)

    even_numbers.append(i)

print(even_numbers)

0
2
4
6
8
10
12
14
16
18
20
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
list_even = []

for i in range(21):
  if i%2 == 0:
    list_even.append(i)

print(list_even) *when you use indentation, it will become loop

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

**Give a list of numbers, write a code to calculate the sum of even numbers in that list**

In [ ]:
list_num = range(10)

sum_even = 0

for i in list_num:
  if i%2 == 0:
    sum_even = sum_even + i

print('The sum of all even numbers are: ', sum_even)

The sum of all even numbers are:  20

In [ ]:
list_even = []

for i in range(21):
  if i%2 == 0:
    list_even.append(i)

  print(sum)

0
0
2
2
6
6
12
12
20
20
30
30
42
42
56
56
72
72
90
90
110

In [ ]:
list_even = []

for i in range(21):
  if i%2 == 0:
    list_even.append(i)

print(sum(list_even))

110

In [ ]:
list_even = []

for i in range(10):
  if i%2 == 0:
    list_even.append(i)

print(sum(list_even))

20

Given a string, write a code to calculate the number of vowles (a,e,i,o,u) in the string.

the string is: 'Hello World'

In [ ]:
list_vowels = ['a','e','i','o','u']
str1 = 'Hello World'

for i in str1:
  if i in list_vowels:
    print(i)

e
o
o

In [ ]:
list_vowels = ['a','e','i','o','u']
str1 = 'Hello World'

for i in str1:
  if i in list_vowels:
    print(i)

e
o
o

In [ ]:
str10 = 'Hello World'
vowels = ['a','e','i','o','u']

for i in str10:
  if i in vowels:
    print(i)

e
o
o

In [ ]:
str10 = 'Hello World'
vowels = ['a','e','i','o','u']

count = 0

for i in str10:
  if i in vowels:
    count += 1

print(count)

3

In [ ]:
string = 'Hello World'
count_vowel = 0 #1 #2 #3

for vow in string.lower(): #.lower() to make all of it into lowercase
  if vow in 'a,e,i,o,u':
    count_vowel += 1 #to keep counting the next letter/items

print ('The number of vowels are:', count_vowel)

The number of vowels are: 3

In [ ]:
str10 = 'Artificial Intelligence'
vowels = ['a','e','i','o','u']

count = 0

for i in str10.lower():
  if i in vowels:
    count += 1 #boleh jugak tulis >> count_vowel = count_vowel + 1

print(count)

10

In [ ]:
string = 'Hello World'
count_vowel = 0 #1 #2 #3

for vowel in string.lower(): #.lower() to make all of it into lowercase
  if vowel in 'a,e,i,o,u':
    count_vowel += 1 #to keep counting the next letter/items

print ('The number of vowels are:', count_vowel)

The number of vowels are: 3

*Function*

To define a function in Python, use the "def" keyword, followed by the function name, parentheses, and a colon. The body of the function is indented and contains the code to be executed when the function is called.

def funname(arguments):

In [ ]:
def first_fun():
 '''
 This is my first function
 '''
 print('This is my first function')

In [ ]:
first_fun()

This is my first function

In [ ]:
def sum_num(a,b):
  ''' this function is about summing two numbers'''

  c = a + b
  print(c)

In [ ]:
sum_num(10,5 )

15

In [ ]:
sum_num(10)

TypeError: sum_num() missing 1 required positional argument: 'b'

**Error!**

When you want to use the sum_num function, you need to provide with 2 number like above cell

In [ ]:
sum_num('Big', ' Data')

Big Data

In [ ]:
def sum_num(a,b):
  ''' this function is about summing two numbers'''

  c = int(a) + int(b)
  print(c)

In [ ]:
sum_num(2,4)

6

In [ ]:
def multiply_num(a,b,c):
  d = a * b * c
  return(d)

In [ ]:
multiply_num(10,1,2)

20

**print vs return**

To summarize, "print" is used to output values to the console for debugging or informational purposes, while "return" is used to send a value back from a function to the calling code. If you want to use the result of a function in other parts of your code, you need to use "return" to make that value available outside the function.



*print just shows the human user a string representing what is going on inside the computer. The computer cannot make use of that printing. return is how a function gives back a value. This value is often unseen by the human user, but it can be used by the computer in further functions.*

In [ ]:
def even_num(a):
  if a%2 == 0:
    return(True)

In [ ]:
even_num(2)

True

In [ ]:
def odd_num(a):
  if a%2 != 0:
    return(True)

In [ ]:
odd_num(5)

True

In [ ]:
def ev_num(a):
  if a%2 == 0:
    return(Even)

In [ ]:
even_num(2)

True

In [ ]:
def odd_num(a):
  if a%2 != 0:
    return(True)

  if a%2 == 0:
    return(False)

In [ ]:
odd_num(3)

True

In [ ]:
odd_num(2)

False

**Write a function to find the highest value in a list of numbers without using other functions.**

In [ ]:
list_num = [30,40,50,60]

def max_num(list_num):
  max_num = list_num[0]
  for i in list_num:
    if i > max_num:
      max_num = i
  return(max_num)

In [ ]:
max_num(list_num)

60

In [ ]:
list_num = [100,0,5,200,-20,8.8]

highest = list_num[0] #100

for i in list_num:
  if i > highest:
    highest = i

print('The highest value in the list is:', highest)

The highest value in the list is: 200

In [ ]:
list_num = [100,0,5,200,-20,8.8]

highest = list_num[0] #100
lowest = list_num[0]

for i in list_num:
  if i > highest:
    highest = i
  if i < lowest:
    lowest = i

print('The highest value in the list is:', highest)
print('The lowest value in the list is:', lowest)

The highest value in the list is: 200
The lowest value in the list is: -20

In [ ]:
def high_low(list_num):
  highest = list_num[0] #100
  lowest = list_num[0]

  for i in list_num:
    if i > highest:
      highest = i
    if i < lowest:
      lowest = i

  print('The highest value in the list is:', highest)
  print('The lowest value in the list is:', lowest)

In [ ]:
list_num_1 = [300,111,400, -2, 0, 55, 8.8, -99,1.5,44]
high_low(list_num_1)

The highest value in the list is: 400
The lowest value in the list is: -99

**Write a function to sum the even numbers in a list of numbers**

In [ ]:
def sum_num(list_num):

  count_even = 0

  for i in list_num:
      if i%2 == 0:
         count_even += i

  print('The sum of even numbers in the list is:', count_even)

In [ ]:
list_num_1 = [300,111,400, -2, 0, 55, 8.8, -99,1.5,44]

In [ ]:
sum_num(list_num_1)

The sum of even numbers in the list is: 742

In [ ]:
#find the missing value in the list below

list_missing = [1,4,3,2,5,8,7]
list_missing.sort()
list_missing

[1, 2, 3, 4, 5, 7, 8]

In [ ]:
list_missing = [1,4,3,2,5,8,7]

def missing_value(list_missing_value):
  list_missing_value.sort()

  for i in range(1,len(list_missing_value)): #in the bracket is index, so #2 #3
    if list_missing_value[i] - list_missing_value[i-1] != 1: #False #False #False #False #True

      #print ('The missing value is:', (list_missing_value[i] - 1))
      return list_missing_value[i] - 1

  return None

In [ ]:
missing_value(list_missing)

6

In [ ]:
#write a function to remove duplicate from a list of numbers
list_num2 = [100,20,-30,100,20,0,-30]

new_list = []

def remove_duplicate(x):
  for i in x: #100
    if i not in new_list: #True
      new_list.append(i) #the number will be added to the new list

  return new_list

In [ ]:
remove_duplicate(list_num2)

[100, 20, -30, 0]

In [ ]:
list_12 = [2,4,5,2,3,6,7]

remove_duplicate(list_12)

[2, 4, 5, 3, 6, 7]

In [ ]:
def remove_dup(x):

  for i in x:
    if x.count(i) > 1:
      x.remove(i)

      return x

In [ ]:
list_R = [20,23,25,20,27,29]
remove_dup(list_R)

[23, 25, 20, 27, 29]